{% extends "base.html" %}
{% block title %}重置密码{% endblock %}
{% block content %}

<div class="row text-center vertical-middle-sm">
	<h1>Password MOdify </h1>
	<p>重置你的密码</p>
	<form class="form-horizontal" action="{% url 'account:modify_password' %}" method="post">
		{% csrf_token %}
		<!-- {{ form.as_p }} -->
		<div class="form-group">
			<label for="{{ form.password1.id_for_label }}" class="col-md-5 control-label" style="color:red"><span class="glyphicon glyphicon-user"></span>新密码</label>
			<div class="col-md-6 text-left">{{ form.password1 }}</div>
		</div>
		<div class="form-group">
			<label for="{{ modify_form.password2.id_for_label }}" class="col-md-5 control-label" style="color:blue"><span class="glyphicon glyphicon-floppy-open"></span>再次确认密码</label>
			<div class="col-md-6 text-left">{{ form.password2 }}</div>
		</div>
		{% if mes %}
			<p style="margin-top:10px">{{ mes }}</p>
		{% endif %}
		<input type="submit" value="重置密码">
	</form>
        
</div>
{% endblock %}